<mat-list>
  <div class="action-buttons">
    <button mat-stroked-button (click)="sort()" *ngIf="trackerList!.length > 2">
      {{ 'Sort' | uppercase }}
      <mat-icon>sort</mat-icon>
    </button>
    <button mat-stroked-button (click)="restart()" *ngIf="trackerList!.length > 1">
      {{ 'Restart' | uppercase }}
      <mat-icon>rotate_left</mat-icon>
    </button>
  </div>
  <ng-container *ngFor="let item of trackerList">
    <app-time-tracker-item [trackerItem]="item" (addNewItemEvent)="addNewItem($event)"></app-time-tracker-item>
  </ng-container>
</mat-list>
