.action-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2.5rem;

  button {
    background-color:#acb6c5;
    color: #fff;

    &:last-child {
      margin-left: .5rem;
    }
  }
}

app-time-tracker-item:not(:last-child) {
  border-bottom: 1px solid #acb6c5;
}
