:host {
  display: block;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;

  .mat-card-header {
    justify-content: center;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
  }
}
