<mat-card class="tracker-card">
  <mat-card-header>
    <mat-card-title>Twikit Time-it</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-time-tracker-list [trackerList]="trackerList$ | async"></app-time-tracker-list>
  </mat-card-content>
</mat-card>
