:host {
  display: block;
}

.timer-btn {
  width: 6rem;
  color: #fff;

  .mat-button-wrapper  {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &_start {
    background-color: #acb6c5;
  }

  &_stop {
    background-color: #e64311;
  }

  &_done {
    background-color:#fad7cd;
  }
}
