<mat-list-item>
  <button mat-stroked-button class="timer-btn" [class]="statusClass" (click)="trackerActionClick()" [disabled]="isDone">
    {{ statusText | uppercase }}
    <mat-icon>{{ statusIcon }}</mat-icon>
  </button>
  <span>{{ timer }} Sec</span>
</mat-list-item>
